@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-primary-100: #FBE2DF;
  --color-primary-200: #F6C0B9;
  --color-primary-300: #EF9E93;
  --color-primary-400: #DA5F4E;
  --color-primary-500: #C22B1F;
  --color-primary-600: #A2251A;
  --color-primary-700: #821E16;
  --color-primary-800: #611711;
  --color-primary-900: #41100B;

  --color-secondary-100: #FCF1CF;
  --color-secondary-200: #FAE39E;
  --color-secondary-300: #F7D56E;
  --color-secondary-400: #F5CA46;
  --color-secondary-500: #F4C430;
  --color-secondary-600: #CB9B0B;
  --color-secondary-700: #A57E09;
  --color-secondary-800: #7E6007;
  --color-secondary-900: #574305;

  --color-tertiary-100: #DDEDE0;
  --color-tertiary-200: #BBDBC0;
  --color-tertiary-300: #99C9A1;
  --color-tertiary-400: #66A873;
  --color-tertiary-500: #3B7A45;
  --color-tertiary-600: #31653A;
  --color-tertiary-700: #28502E;
  --color-tertiary-800: #1E3C23;
  --color-tertiary-900: #142817;

  --color-purple-50: #f5f3ff;
  --color-purple-100: #ede9fe;
  --color-purple-200: #ddd6fe;
  --color-purple-300: #c4b5fd;
  --color-purple-400: #a78bfa;
  --color-purple-500: #8b5cf6;
  --color-purple-600: #7c3aed;
  --color-purple-700: #6d28d9;
  --color-purple-800: #5b21b6;
  --color-purple-900: #4c1d95;
  --color-purple-950: #2e1065;
}