@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: var(--ui-color-primary-700); /* darker in light mode */
}

.dark {
  --ui-primary: var(--ui-color-primary-500); /* lighter in dark mode */
}

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-primary-50: #fff5f0;
  --color-primary-100: #ffe5db;
  --color-primary-200: #ffcbb8;
  --color-primary-300: #ffab91;
  --color-primary-400: #ff8566;
  --color-primary-500: #f4512c;
  --color-primary-600: #e63e1f;
  --color-primary-700: #c93218;
  --color-primary-800: #a52b19;
  --color-primary-900: #87291b;
  --color-primary-950: #491108;

  --color-secondary-100: #FCF1CF;
  --color-secondary-200: #FAE39E;
  --color-secondary-300: #F7D56E;
  --color-secondary-400: #F5CA46;
  --color-secondary-500: #F4C430;
  --color-secondary-600: #CB9B0B;
  --color-secondary-700: #A57E09;
  --color-secondary-800: #7E6007;
  --color-secondary-900: #574305;

  --color-tertiary-100: #DDEDE0;
  --color-tertiary-200: #BBDBC0;
  --color-tertiary-300: #99C9A1;
  --color-tertiary-400: #66A873;
  --color-tertiary-500: #3B7A45;
  --color-tertiary-600: #31653A;
  --color-tertiary-700: #28502E;
  --color-tertiary-800: #1E3C23;
  --color-tertiary-900: #142817;

  --color-purple-50: #f5f3ff;
  --color-purple-100: #ede9fe;
  --color-purple-200: #ddd6fe;
  --color-purple-300: #c4b5fd;
  --color-purple-400: #a78bfa;
  --color-purple-500: #8b5cf6;
  --color-purple-600: #7c3aed;
  --color-purple-700: #6d28d9;
  --color-purple-800: #5b21b6;
  --color-purple-900: #4c1d95;
  --color-purple-950: #2e1065;

  --color-dark-50:  #f5f5f5;
  --color-dark-100: #e5e5e5;
  --color-dark-200: #d4d4d4;
  --color-dark-300: #a3a3a3;
  --color-dark-400: #737373;
  --color-dark-500: #525252;
  --color-dark-600: #404040;
  --color-dark-700: #262626;
  --color-dark-800: #171717;
  --color-dark-900: #0d0d0d;
  --color-dark-950: #050505;
}